* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1015;
}

.category p{
    margin-left: 2rem !important;
}

.account-icon img {
    width: 100%;
}

.account-icon {
    position: relative;
    display: inline-block;
    width: 10%;
    margin-left: 1rem;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #0d1015;
    min-width: 150px;
    z-index: 1;
}

.account-icon:hover .dropdown-items {
    display: block;
}

.caption {
    padding: 15px;
    text-align: center;
    color: white;
}

.caption a {
    color: inherit;
    text-decoration: none;
    line-height: 4px;
}

.banaozel {
    color: #fad701 !important;
    font-weight: 600;
}

.navbar {
    border-bottom: 1px solid gray;
}



.slider {
    position: relative;
    height: 100vh;
}

.slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
}

.slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.slider__control--right {
    left: 95%;
}



.slider__control-line {
    position: absolute;
    left: 23px;
    top: 50%;
    width: 3px;
    height: 14px;
    transform-origin: 50% 0;
    transform: rotate(-45deg);
}

.slider__control-line:nth-child(2) {
    transform: translateY(1px) rotate(-135deg);
}

.slider__control--right .slider__control-line {
    left: 37px;
    transform-origin: 1px 0;
    transform: rotate(45deg);
}

.slider__control--right .slider__control-line:nth-child(2) {
    transform: translateY(1px) rotate(135deg);
}

.slider__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    transition: background-color 0.3s;
}

.slider__control:hover .slider__control-line:after {
    background-color: #fff;
}

.slider__control.a--rotation .slider__control-line:after {
    animation: arrowLineRotation 0.49s;
}

.slider__control.a--rotation .slider__control-line:nth-child(1):after {
    animation: arrowLineRotationRev 0.49s;
}

@keyframes arrowLineRotation {
    to {
        transform: rotate(180deg);
    }
}

@keyframes arrowLineRotationRev {
    to {
        transform: rotate(-180deg);
    }
}

.slide {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);

    transition: -webkit-clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;

}

.slide.s--prev {
    -webkit-clip-path: circle(30px at 30vw 50%);
    clip-path: circle(30px at 30vw 50%);
}

.slide.s--active {
    z-index: 1;
    transition: -webkit-clip-path 1.3s;
    transition: clip-path 1.3s;
    transition: clip-path 1.3s
}

.slide.s--active.s--active-prev {
    -webkit-clip-path: circle(120vmax at 30vw 50%);
    clip-path: circle(120vmax at 30vw 50%);
}

.slide:nth-child(1) .slide__inner {
    background-image: url("../Static/slider_img/0917555270895eb88428_op.jpg");
}

.slide:nth-child(2) .slide__inner {
    background-image: url("../Static/slider_img/0921493872485eb78424_op.jpg");
}

.slide:nth-child(3) .slide__inner {
    background-image: url("../Static/slider_img/1729410002535eb88428.jpg");
}

.slide:nth-child(4) .slide__inner {
    background-image: url("../Static/slider_img/1738368156445eb8f42a.jpg");
}

.slide:nth-child(5) .slide__inner {
    background-image: url("../Static/slider_img/2106092018805eb78424.jpg");
}

.slide:nth-child(6) .slide__inner {
    background-image: url("../Static/slider_img/1957549652485eb7f426.jpg");
}

.slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center;
}

.slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.slide__content {
    position: absolute;
    left: 15%;
    top: 15%;
    margin-left: -30px;
    margin-top: 48px;
    max-width: 480px;
    color: #fff;
}

.slide__text {
    margin-top: 8px;
}

.slide__text a {

    color: inherit;
}

.slide__content img {
    width: 100%;
}

.movie-detail span:nth-child(1) {
    margin-right: 4px;
}

.movie-detail span:nth-child(3) {
    margin-left: 4px;
}

.btn {
    display: flex;
}

.btn-watch {
    margin-right: 8px;
}

.btn a {
    width: 50%;
    display: inline-block;
    text-align: center !important;
    padding: 10px;
}



/* Responsive styles for tablet */
@media (max-width: 768px) {
    .slide__content {
        left: 10%;
        top: 30%;
        margin-left: -20px;
        margin-top: 36px;
        max-width: 360px;
    }

    .btn {
        flex-direction: column;
    }

    .btn a {
        width: 100%;
        margin-bottom: 8px;
    }

    .slide__content p{
        display: none;
    }
}

/* Responsive styles for mobile */
@media (max-width: 480px) {

    .slide{
        display: inline-block;
        text-align: center;
    }

    .slide__content {
        left: 3%;
        top: 30%;
        margin-left: 0;
        margin-top: 24px;
        max-width: 100%;
    }

    .slide__content img{
        width: 60%;
        margin-left: 2rem;
    }

    .movie-detail{
        margin-left: 3rem;

    }

    .btn{
        display: inline-block;
        text-align: center;
    }

    .btn a {
        width: 100%;
        margin-bottom: 8px;

    }

    .slider__control {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
    }

    .slider__control--right {
        left: 90%;
    }

    .slider__control-line {
        left: 15px;
        height: 10px;
    }

    .slider__control--right .slider__control-line {
        left: 25px;
    }
}





.channels{
    max-height: 300px;
}



  .tv-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .slider-container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
}

.sliders {
    display: flex;
    transition: margin-left 0.5s;
    text-align: center;
}

.sslide {
    min-width: 150px;
    margin: 10px;
    background: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sslide img{
    width: 100%;
    max-height: 200px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffc107;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn.left {
    left: 0;
}

.slider-btn.right {
    right: 0;
}

.slider-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.movie{
    min-height: 500px;
}

.movie-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }


.slider-container2 {
    position: relative;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider2 {
    display: flex;
    transition: margin-left 0.5s;
}

.slide2 {
    min-width: 360px;
    margin: 8px;
    background: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide2 img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slide-info {
    padding: 10px;
    text-align: center;
    color: white;
}

.slider-btn2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffc107;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn2.left2 {
    left: 0;
}

.slider-btn2.right2 {
    right: 0;
}

.slider-btn2:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



/** aksiyon slider */
.aksiyon-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
  }



.slider-container3 {
    position: relative;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider3 {
    display: flex;
    transition: margin-left 0.5s;
}

.slide3 {
    min-width: 360px;
    margin: 8px;
    background: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide3 img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slide-info3 {
    padding: 10px;
    text-align: center;
    color: white;
}

.slider-btn3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffc107;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-btn3.left3 {
    left: 0;
}

.slider-btn3.right3 {
    right: 0;
}

.slider-btn3:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



/* footer */


/* Responsive Design */


/* Footer Styles */
footer {
    background-color: #0d1015;
    color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #333333;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-links a {
    color: #ffc107;
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact {
    margin-bottom: 20px;
}

.phone-number {
    font-size: 24px;
    font-weight: bold;
}

.footer-apps, .footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-apps a{
    width: 10%;
}

.footer-apps a img{
    width: 100%;
}

.footer-apps a {
    margin: 0 10px;
}

.footer-social{
    margin-top: 2rem;
}

.footer-social i {
    width: 40px;
    height: 40px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        margin: 10px 0;
    }

    .footer-apps, .footer-social {
        flex-direction: column;
        align-items: center;
    }

    .footer-apps a, .footer-social a {
        margin: 10px 0;
    }
}

/* footer */