{% extends 'base.html' %}
{% load static %}



{% block site-css %}
      <!--! my css -->
  <link rel="stylesheet" href="{% static 'Style/index.css' %}">
{% endblock site-css %}
  


{% block site-content %}
  

  
  {% include './Partials/_Authnavbar.html' %}


  <!--* slider start -->

  <div class="slider">
    <!-- slides -->
    <div class="slider__slides">

      <!--* slider 1 -->
      <div class="slide s--active">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2315176920985eb88428_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>

      <!--* slider 2 -->
      <div class="slide">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2314067570975eb88428_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>

      <!--* slider 3 -->
      <div class="slide">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2305255330945eb88428_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>

      <!--* slider 4 -->
      <div class="slide">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2305495268515eb9542c_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>

      <!--* slider 5 -->
      <div class="slide">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2307027029975eb7f426_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>

      <!--* slider 6 -->
      <div class="slide s--prev">
        <div class="slide__inner">
          <div class="container">
            <div class="slide__content">
              <img src="{% static 'Static/slider_img/slider_name/2312593980015eb7f426_op.webp' %}" alt="">
              <div class="movie-detail">
                <span>FİLM</span>
                <span>|</span>
                <span>2020</span>
              </div>

              <div class="btn">
                <a href="" type="button" class="btn-watch btn btn-warning">Hemen İzle</a>
                <a href="" type="button" class=" btn btn-dark">Detaylı Bilgi</a>
              </div>

              <p class="slide__text">Eskiden CIA'in gizli operasyon gücünde görev alan McCall, geçmişin izleriyle
                boğuşmakta ve ruhundaki boşlukları doldurmaya çalışmaktadır. Bu sırada eski arkadaşı Susan Plummer'dan
                kötü haberler alan McCall, kendi adaletini sağlamaya karar verir.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slides end -->
    <div class="slider__control">
      <div class="slider__control-line"></div>
      <div class="slider__control-line"></div>
    </div>
    <div class="slider__control slider__control--right m--right">
      <div class="slider__control-line"></div>
      <div class="slider__control-line"></div>
    </div>
  </div>

  <!-- slider -->




<!-- * channels start -->

<div class="container-fluid channels mt-3">

<div class="category fs-1 text-white">
  <p>Kanallar</p>
</div>

<div class="container-fluid tv-slider">

  <div class="slider-container">
    <button class="slider-btn left" onclick="slideLeft()">
      <i class="fa-solid fa-arrow-left fa-xl"></i>
    </button>
    <div class="sliders">
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/tv8.5.png' %}" alt="EPIC"></div>
        <div class="sslide"><img src="{% static 'Static/tv_name/now.png' %}" alt="TV+"></div>

        
    </div>
    <button class="slider-btn right" onclick="slideRight()">
      <i class="fa-solid fa-arrow-right fa-xl"></i>
    </button>
</div>

</div>

</div>

<!-- * channels start -->


<!-- * movie slider start -->


<div class="container-fluid movie">

<div class="category mt-5">
  <p class="fs-1 text-white">Senin İçin</p>
</div>

<div class="container-fluid movie-slider">

  <div class="slider-container2">
    <button class="slider-btn2 left2" onclick="slideLeft2()">
      <i class="fa-solid fa-arrow-left fa-xl"></i>
    </button>
    <div class="slider2">
        <div class="slide2">
            <img src="{% static 'Static/senin_için/topgun.jpg' %}" alt="Top Gun: Maverick">
            <div class="slide-info">
                <h3>Top Gun: Maverick</h3>
                <p>Dram, Aksiyon</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/olumlu_dunya.jpg' %}" alt="Ölümlü Dünya">
            <div class="slide-info">
                <h3>Ölümlü Dünya</h3>
                <p>Aile, Aksiyon, Türk Filmi, Komedi</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/jw3.jpg' %}" alt="John Wick 3">
            <div class="slide-info">
                <h3>John Wick 3</h3>
                <p>Aksiyon</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/chernobyl.jpg' %}" alt="Chernobyl S01 B02">
            <div class="slide-info">
                <h3>Chernobyl S01 B02</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/yıldızlara_dogru.jpg' %}" alt="Yıldız">
            <div class="slide-info">
                <h3>Yıldız</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/topgun.jpg' %}" alt="Top Gun: Maverick">
            <div class="slide-info">
                <h3>Top Gun: </h3>
                <p>Dram, Aksiyon</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/olumlu_dunya.jpg' %}" alt="Ölümlü Dünya">
            <div class="slide-info">
                <h3>Ölümlü Dünya</h3>
                <p>Aile, Aksiyon, Türk Filmi, Komedi</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/jw3.jpg' %}" alt="John Wick 3">
            <div class="slide-info">
                <h3>John Wick 3</h3>
                <p>Aksiyon</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/chernobyl.jpg' %}" alt="Chernobyl S01 B02">
            <div class="slide-info">
                <h3>Chernobyl S01 B02</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide2">
            <img src="{% static 'Static/senin_için/yıldızlara_dogru.jpg' %}" alt="Yıldız">
            <div class="slide-info">
                <h3>Yıldız</h3>
                <p>Dram</p>
            </div>
        </div>
    </div>
    <button class="slider-btn2 right2" onclick="slideRight2()">
      <i class="fa-solid fa-arrow-right fa-xl"></i>
    </button>
</div>
</div>
</div>

<!-- * movie slider finish -->



<!--* Aksiyon slider start -->

<div class="category">
  <p class="fs-1 text-white">Aksiyon</p>
</div>

<div class="container-fluid aksiyon-slider">


  <div class="slider-container3">
    <button class="slider-btn3 left3" onclick="slideLeft3()">
      <i class="fa-solid fa-arrow-left fa-xl"></i>
    </button>
    <div class="slider3">
        <div class="slide3">
            <img src="{% static 'Static/senin_için/topgun.jpg' %}" alt="Top Gun: Maverick">
            <div class="slide-info3">
                <h3>Top Gun: Maverick</h3>
                <p>Dram, Aksiyon</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/olumlu_dunya.jpg' %}" alt="Ölümlü Dünya">
            <div class="slide-info3">
                <h3>Ölümlü Dünya</h3>
                <p>Aile, Aksiyon, Türk Filmi, Komedi</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/jw3.jpg' %}" alt="John Wick 3">
            <div class="slide-info3">
                <h3>John Wick 3</h3>
                <p>Aksiyon</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/chernobyl.jpg' %}" alt="Chernobyl S01 B02">
            <div class="slide-info3">
                <h3>Chernobyl S01 B02</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/yıldızlara_dogru.jpg' %}" alt="Yıldız">
            <div class="slide-info3">
                <h3>Yıldız</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/topgun.jpg' %}" alt="Top Gun: Maverick">
            <div class="slide-info3">
                <h3>Top Gun: </h3>
                <p>Dram, Aksiyon</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/olumlu_dunya.jpg' %}" alt="Ölümlü Dünya">
            <div class="slide-info3">
                <h3>Ölümlü Dünya</h3>
                <p>Aile, Aksiyon, Türk Filmi, Komedi</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/jw3.jpg' %}" alt="John Wick 3">
            <div class="slide-info3">
                <h3>John Wick 3</h3>
                <p>Aksiyon</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/chernobyl.jpg' %}" alt="Chernobyl S01 B02">
            <div class="slide-info3">
                <h3>Chernobyl S01 B02</h3>
                <p>Dram</p>
            </div>
        </div>
        <div class="slide3">
            <img src="{% static 'Static/senin_için/yıldızlara_dogru.jpg' %}" alt="Yıldız">
            <div class="slide-info3">
                <h3>Yıldız</h3>
                <p>Dram</p>
            </div>
        </div>
    </div>
    <button class="slider-btn3 right3" onclick="slideRight3()">
      <i class="fa-solid fa-arrow-right fa-xl"></i>
    </button>
</div>
</div>

<!--* Aksiyon slider -->



{% comment %} footer {% endcomment %}

    {% include './Partials/_footer.html' %}

{% comment %} footer {% endcomment %}




{% endblock site-content %}