{% load static %}



 
 <!-- * navbar start -->

 <nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="./index.html">
        <img src="../Static/slider_img/logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!--& Dizi Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dizi
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <!--& Dizi Dropdown -->

          <!--^ Film Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Film
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <!--^ Film Dropdown -->
          <li class="nav-item">
            <a class="nav-link" href="#">Canlı TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Spor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Belgesel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="{% static 'Static/home/tvplus-cocuk.png' %}" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Paketler</a>
          </li>

        </ul>

        <div class="d-flex align-items-center">

          <button class="loginBtn"><a href="{% url 'login' %}">Üye Girişi</a></button>
          <button class="signinBtn"><a href="{% url 'register' %}">Hesap Oluştur</a></button>

          <!--* account icon -->
          <div class="account-icon">


          </div>
          <!--* account icon -->

        </div>
      </div>
    </div>
  </nav>