{% load static %}



<!-- footer -->




<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>TV+</h3>
            <ul>
                <li><a href="#">TV+ PRO</a></li>
                <li><a href="#">TV+ Smart TV</a></li>
                <li><a href="#">TV+ Ev (IPTV)</a></li>
                <li><a href="#">TV+ Ready</a></li>
                <li><a href="#">TV+ Destek</a></li>
                <li><a href="#">IPTV Ev Kullanım Kılavuzu</a></li>
                <li><a href="#">IPTV Ev Kumanda Kurulumu</a></li>
                <li><a href="#">TV+ Club</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Popüler Türler</h3>
            <ul>
                <li><a href="#">Korku</a></li>
                <li><a href="#">Aksiyon</a></li>
                <li><a href="#">Animasyon</a></li>
                <li><a href="#">Komedi</a></li>
                <li><a href="#">Bilim Kurgu</a></li>
                <li><a href="#">Gerilim</a></li>
                <li><a href="#">Aşk</a></li>
                <li><a href="#">Türk Filmleri</a></li>
                <li><a href="#">Romantik Komedi</a></li>
                <li><a href="#">Çocuk Filmleri</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Öne Çıkanlar</h3>
            <ul>
                <li><a href="#">Şampiyonlar Ligi</a></li>
                <li><a href="#">S Sport İzle</a></li>
                <li><a href="#">Canlı TV</a></li>
                <li><a href="#">Film İzle</a></li>
                <li><a href="#">Dizi İzle</a></li>
                <li><a href="#">TV Yayın Akışı</a></li>
                <li><a href="#">Bugün Hangi Diziler Var</a></li>
                <li><a href="#">Game Of Thrones</a></li>
                <li><a href="#">The Sopranos</a></li>
                <li><a href="#">The Walking Dead The Ones Who Live</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-links">
            <a href="#">Promo Kod Aktifle</a>
            <a href="#">Kullanım Koşulları</a>
            <a href="#">Aydınlatma Metni</a>
            <a href="#">Künye</a>
            <a href="#">Bilgi Toplumu Hizmetleri</a>
            <a href="#">Çerez Politikası</a>
        </div>
        <div class="footer-contact">
            Bize ulaşın
            <div class="phone-number">0 850 808 0 808</div>
        </div>
        <div class="footer-apps">
            <a href="#"><img src="{% static 'Static/footer_img/app-store.png' %}" alt="App Store"></a>
            <a href="#"><img src="{% static 'Static/footer_img/play-store.png' %}" alt="Google Play"></a>
            <a href="#"><img src="{% static 'Static/footer_img/app-huawei-galery.png' %}" alt="AppGallery"></a>
        </div>
        <div class="footer-social">
            <i class="fab fa-square-facebook fa-2xl"></i>
            <i class="fab fa-square-youtube fa-2xl"></i>
            <i class="fab fa-square-instagram fa-2xl"></i>
            <i class="fab fa-square-twitter fa-2xl"></i>
        </div>
        <div class="footer-copyright">
            Tüm Hakları Saklıdır<br>
            v5.2.3
        </div>
    </div>
  </footer>
  
  <!-- footer -->